<form>
    <div class="form-group">
        <label for="selectCategory">Category</label>
        <select class="form-control" name="category" id="selectCategory" placeholder="risk-free" [(ngModel)]="category">
            <option value="risk-free" selected>risk-free</option>
            <option value="risky">risky</option>
        </select>
    </div>
    <div class="form-group">
        <label for="inputAsset">Asset</label>
        <input type="text" [(ngModel)]="asset" class="form-control" id="inputAsset" placeholder="Cash, Checking Account, Shares, ..." name="asset">
    </div>
    <div class="form-group">
        <label for="inputAmount">Amount</label>
        <input type="number" [(ngModel)]="amount" class="form-control" placeholder="100.00" name="asset">
    </div>
    <div class="btn-toolbar">
        <button type="submit" class="btn btn-primary" (click)="addAsset()">Add</button>
        <button type="reset" class="btn btn-primary">Reset</button>
    </div>
</form>