<form>
    <div class="form-group">
        <select class="form-control" name="category" [(ngModel)]="category">
            <option value="risk free" selected>risk-free</option>
            <option value="risky">risky</option>
        </select>
    </div>
    <div class="form-group">
        <input type="text" [(ngModel)]="asset" class="form-control" placeholder="Asset" name="asset">
        <small class="form-text text-muted">e.g. Cash, Checking account, Savings account, Shares, ...</small>
    </div>
    <div class="form-group">
        <input type="number" [(ngModel)]="amount" class="form-control" placeholder="Amount in Euro" name="asset">
    </div>
    <div class="btn-toolbar">
        <button type="submit" class="btn btn-primary" (click)="addAsset()">Add</button>
        <button type="reset" class="btn btn-primary">Reset</button>
    </div>
</form>