<div class="container">
    <div class="row top10">
        <div class="col-3"></div>
        <div class="col-6">
            <ul class="nav nav-tabs">
                <li class="nav-item" *ngFor="let route of routes">
                    <a class="nav-link" [routerLink]="route.url">{{route.linkName}}</a>
                </li>
            </ul>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row top10">
        <div class="col-3"></div>
        <div class="col-6">
            <router-outlet></router-outlet>
        </div>
        <div class="col-3"></div>
    </div>
</div>