.top10 { margin-top: 10px; }
.top20 { margin-top: 20px; }

.nav li {
    display:inline-block;   
}

.nav {
    text-align: center;
}

.main-border {
    border: 1px solid #656D78;
    padding: 20px;
    border-radius: 5px;
}

body {
 color: #656D78;
}